%h3= link_to "Add a new audiobook"
- 6.times do
  .panel.panel-default
    .panel-heading Mindset The New Psychology of Success <span class="pull-right">#{link_to 'edit'}</span>
    .panel-body
      %p Dweck explains why it’s not just our abilities and talent that bring us success–but whether we approach them with a fixed or growth mindset. She makes clear why praising intelligence and ability doesn’t foster self-esteem and lead to accomplishment, but may actually jeopardize success. With the right mindset, we can motivate our kids and help them to raise their grades, as well as reach our own goals–personal and professional.
    %ul.list-group
      %li.list-group-item Mon, 20 Apr 2015 19:29:00 CST
      %li.list-group-item mindset.mp3
      %li.list-group-item audio/mpeg
